.Nav-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: BLACK;
}

.AnchorBar {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

